* {
    text-align: center;
    box-sizing:border-box;
    margin: auto;
}

body {
    font-family:arial, helvetica neue, Arial, Helvetica, sans-serif;
    color:#777;
    background:#777;
    width:960px;
    font-size:18px;
}

header, nav, section, aside, footer {
    background-color:#ebebeb;
    /*needs margin-top, margin-bottom */
}

header {
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

nav {
    padding: 20px;
    margin-bottom: 10px;
}

#middleparts {
    display: flex;
    flex-direction: row-reverse;
}

section {
    width: 495px;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-top: 20px;
    float: left;
    /*needs margin-right*/

}

aside {
    width: 460px;
    padding: 20px;
    margin-bottom:1%;
    margin-top:1%;
    margin-left:1%;
    float: right;
    overflow: visible;
    /*needs margin-top, margin-bottom, and margin-left */
}

article {
    color:#ebebeb;
    background-color:#777;
    height:75%;
    margin: 11px;
    overflow: auto;
    padding: 10px;
}

#artbox {
    color:#777;
    background-color:#ebebeb;
    padding: 10px;
    margin: 10px;
}

#artbox1 {
    color:#777;
    background-color:#ebebeb;
    margin: 10px;
    padding: 10px;
}

footer {
    clear: both;
    overflow: auto;
    margin-top: 10px;
    padding: 20px;
}