* {
    text-align: center;
    box-sizing:border-box;
    margin: auto;
}

body {
    font-family:arial, helvetica neue, Arial, Helvetica, sans-serif;
    color:#777;
    background:#777;
    width:960px;
    font-size:18px;
}

header, nav, section, aside, footer {
    background-color:#ebebeb;

}

section {
    width: 495px;
    float: left;
    /*margin: 20px 10px 20px 10px; */

}

aside {
    float: right;
}

article {
    color:#ebebeb;
    background-color:#777;
}

.artbox {
    color:#777;
    background-color:#ebebeb;
}

footer {
    clear: both;
    overflow: auto;
}